#ctBox-wp {
  font-size: 16px;
  font-family: "Helvetica Neue","Hiragino Sans GB W3","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; }
.ctForm-wp .clear{
      display:none;
      box-shadow:0 1px 0 #c9c9c9 inset,1px 1px 3px #eee;
      background:#d6d6d6;
  }
.ctForm-wp {
  margin: 0 35px 40px; }
  .ctForm-wp p {
    margin: 0;
    font-size: 13px;
    color: #929292;
    line-height: 2; }
    .ctForm-wp p:before {
      display: inline-block;
      margin-right: 5px;
      content: '';
      width: 13px;
      height: 13px;
      background: #73db8b;
      border-radius: 50%;
      vertical-align: middle; }
  .ctForm-wp form {
    width: 100%; }
  .ctForm-wp .ctForm-textarea {
    margin-bottom: 15px;
    background: #f0f0f0;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #b5b4b4 inset; }
  .ctForm-wp textarea {
    display: block;
    width: 100%;
    padding: 0;
    min-height: 144px;
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    color: #b2b2b2;
    line-height: 1.5;
    resize: none; }
  .ctForm-wp .sub-Btn {
    text-align: right;
    font-size: 13px;
    color: #929292; }
  .ctForm-wp span em {
    color: #73db8b;
    font-style: normal; }
  .ctForm-wp button {
    margin-left: 5px;
    width: 145px;
    height: 42px;
    background: #73db8b;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 1px 0 #4cc368 inset, 1px 1px 3px #eee;
    outline: none;
    vertical-align: text-bottom; }

.ctList-wp {
  margin: 0;
  padding: 0; }
  .ctList-wp dt {
    padding: 0 35px;
    border-bottom: 1px dashed #f0f0f0;
    font-size: 14px;
    color: #333333;
    line-height: 2;
    font-weight: bold; }
  .ctList-wp dd {
    margin: 0;
    padding: 20px 35px;
    border-bottom: 1px solid #dbdbdb; }

.ct-wp .ctU-img {
  margin-right: 10px;
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  background: #eee;
  border-radius: 5px; }
.ct-wp .ctForm-wp{
    margin:0;}
.ct-wp .ctForm-wp p{
  display:none;
}
.ct-wp .ctForm-wp .clear{
      display:inline-block;}
.ct-wp img {
  width: 100%; }

.ct-wp .ctU-Info {
  overflow: hidden; }
  .ct-wp .ctU-Info h3, .ct-wp .ctU-Info h4 {
    margin: 0;
    font-size: 14px;
    color: #37a6f4;
    font-weight: bold;
    line-height: 2; }
  .ct-wp .ctU-Info small {
    margin-left: 5px;
    font-weight: normal;
    color: #929292; }
  .ct-wp .ctU-Info .ct-info {
    font-size: 14px;
    color: #333333;
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2; }
  .ct-wp .ctU-Info .reply {
    margin: 14px 0 30px 0;
    position: relative;
    background: #f0f0f0;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #b5b4b4 inset; }
    .ct-wp .ctU-Info .reply:before, .ct-wp .ctU-Info .reply:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #dcdcdc;
      top: -18px;
      left: 45px; }
    .ct-wp .ctU-Info .reply:after {
      top: -15px;
      border-bottom-color: #f0f0f0; }
    .ct-wp .ctU-Info .reply .reply-info {
      font-size: 14px;
      color: #929292; }
  .ct-wp .ctU-Info .btn-group {
    margin-bottom: 10px;
    text-align: right;
    overflow: hidden; }
    .ct-wp .ctU-Info .btn-group > button {
      border: none;
      background: none;
      font-size: 13px;
      color: #929292;
      outline: none; }
      .ct-wp .ctU-Info .btn-group > button em {
        font-style: normal; }
      .ct-wp .ctU-Info .btn-group > button.on {
        color: #37a6f4; }

.React-wp .rtForm-textarea {
  margin-bottom: 15px;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px #b5b4b4 inset; }

.React-wp textarea {
  display: block;
  width: 100%;
  padding: 0;
  min-height: 120px;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  color: #b2b2b2;
  line-height: 1.5;
  resize: none; }

.React-wp .sub-Btn {
  text-align: right; }
  .React-wp .sub-Btn div {
    margin-bottom: 10px;
    font-size: 13px;
    color: #929292; }
  .React-wp .sub-Btn em {
    font-style: normal; }
  .React-wp .sub-Btn button {
    margin-left: 5px;
    width: 83px;
    height: 28px;
    background: #73db8b;
    border: none;
    border-radius: 5px;
    color: #3a3a3a;
    font-size: 13px;
    box-shadow: 0 1px 0 #4cc368 inset, 1px 1px 3px #eee;
    outline: none;
    vertical-align: text-bottom; }
  .React-wp .sub-Btn .clear {
    box-shadow: 0 1px 0 #c9c9c9 inset, 1px 1px 3px #eee;
    background: #d6d6d6; }

.paging-wp {
  overflow: hidden;
  margin: 20px 35px; }
  .paging-wp ol {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
    .paging-wp ol li {
      float: left;
      margin: 0; }
      .paging-wp ol li.on button {
        background: #37a6f4; }
    .paging-wp ol li + li {
      margin-left: 15px; }
    .paging-wp ol button {
      width: 40px;
      height: 40px;
      background: #999999;
      border: none;
      color: #fff;
      font-size: 16px;
      outline: none; }
  .paging-wp .page-btn {
    width: auto;
    overflow: hidden;
    text-align: right; }
    .paging-wp .page-btn button {
      width: 105px;
      height: 40px;
      background: #999999;
      border: none;
      color: #fff;
      font-size: 16px;
      outline: none; }
    .paging-wp .page-btn button + button {
      margin-left: 15px; }

.example-enter {
  opacity: 0.01;
  -webkit-transition: opacity 0.5s ease-in;
          transition: opacity 0.5s ease-in; }

.example-enter.example-enter-active {
  opacity: 1; }
.ct-wp .ct-info *{margin:0;padding:0;}